Configurando o SQL com Python

In [7]:
import mysql.connector

conexao = mysql.connector.connect(
    host="localhost",
    user="xxxxxxxx",
    password="xxxxxxxxxxxx",
    database="dbprodutos"
)

cursor = conexao.cursor()
print("Conexão estabelecida e cursor criado.")

Conexão estabelecida e cursor criado.

In [8]:
cursor.execute("SHOW DATABASES;")

for db in cursor:
    print(db)

('dbprodutos',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

Criando uma tabela

In [12]:
import pandas as pd

df_produto = pd.read_csv("../data/produto_preço.csv", index_col=0)

df_produto

   id                                      title    price
0  11                       Annibale Colombo Bed  1899.99
1  12                      Annibale Colombo Sofa  2499.99
2  13               Bedside Table African Cherry   299.99
3  14  Knoll Saarinen Executive Conference Chair   499.99
4  15           Wooden Bathroom Sink With Mirror   799.99
5  16                                      Apple     1.99
6  17                                 Beef Steak    12.99
7  18                                   Cat Food     8.99
8  19                               Chicken Meat     9.99
9  20                                Cooking Oil     4.99

In [13]:
df_produto.columns

Index(['id', 'title', 'price'], dtype='object')

In [14]:
cursor.execute("""CREATE TABLE IF NOT EXISTS dbprodutos.tabela_mongo(
               id VARCHAR(100),
               title VARCHAR(100),
               price FLOAT(10,2),
               PRIMARY KEY(id) 
               )""")

In [15]:
cursor.execute("SHOW TABLES;")

for tb in cursor:
    print(tb)

('tabela_mongo',)
('tb_livros',)
('tb_produtos',)

Inserindo os dados CSV na tabela

In [16]:
for i, row in df_produto.iterrows():
    print(tuple(row))

(11, 'Annibale Colombo Bed', 1899.99)
(12, 'Annibale Colombo Sofa', 2499.99)
(13, 'Bedside Table African Cherry', 299.99)
(14, 'Knoll Saarinen Executive Conference Chair', 499.99)
(15, 'Wooden Bathroom Sink With Mirror', 799.99)
(16, 'Apple', 1.99)
(17, 'Beef Steak', 12.99)
(18, 'Cat Food', 8.99)
(19, 'Chicken Meat', 9.99)
(20, 'Cooking Oil', 4.99)

In [17]:
lista_dados = [tuple(row) for i, row in df_produto.iterrows()]

lista_dados

[(11, 'Annibale Colombo Bed', 1899.99),
 (12, 'Annibale Colombo Sofa', 2499.99),
 (13, 'Bedside Table African Cherry', 299.99),
 (14, 'Knoll Saarinen Executive Conference Chair', 499.99),
 (15, 'Wooden Bathroom Sink With Mirror', 799.99),
 (16, 'Apple', 1.99),
 (17, 'Beef Steak', 12.99),
 (18, 'Cat Food', 8.99),
 (19, 'Chicken Meat', 9.99),
 (20, 'Cooking Oil', 4.99)]

In [18]:
sql = "INSERT INTO dbprodutos.tabela_mongo VALUES(%s,%s,%s)"

cursor.executemany(sql, lista_dados)

conexao.commit()

In [19]:
print(cursor.rowcount, "dados inseridos")

10 dados inseridos

In [20]:
cursor.close()

True

In [21]:
conexao.close()