In [11]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://gustavohqpasciano:P50Po7A9rGTPaQOq@cluster-produtos.hyph6.mongodb.net/?retryWrites=true&w=majority&appName=cluster-produtos"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [12]:
db = client['db_produtos']

collection = db['produtos']

In [13]:
for doc in collection.find():
    print(doc)

{'_id': ObjectId('672797c6d5aca4d54fb23717'), 'id': 11, 'title': 'Annibale Colombo Bed', 'price': 1899.99}
{'_id': ObjectId('672797c6d5aca4d54fb23718'), 'id': 12, 'title': 'Annibale Colombo Sofa', 'price': 2499.99}
{'_id': ObjectId('672797c6d5aca4d54fb23719'), 'id': 13, 'title': 'Bedside Table African Cherry', 'price': 299.99}
{'_id': ObjectId('672797c6d5aca4d54fb2371a'), 'id': 14, 'title': 'Knoll Saarinen Executive Conference Chair', 'price': 499.99}
{'_id': ObjectId('672797c6d5aca4d54fb2371b'), 'id': 15, 'title': 'Wooden Bathroom Sink With Mirror', 'price': 799.99}
{'_id': ObjectId('672797c6d5aca4d54fb2371c'), 'id': 16, 'title': 'Apple', 'price': 1.99}
{'_id': ObjectId('672797c6d5aca4d54fb2371d'), 'id': 17, 'title': 'Beef Steak', 'price': 12.99}
{'_id': ObjectId('672797c6d5aca4d54fb2371e'), 'id': 18, 'title': 'Cat Food', 'price': 8.99}
{'_id': ObjectId('672797c6d5aca4d54fb2371f'), 'id': 19, 'title': 'Chicken Meat', 'price': 9.99}
{'_id': ObjectId('672797c6d5aca4d54fb23720'), 'id': 20, 'title': 'Cooking Oil', 'price': 4.99}

In [14]:
collection.find_one()

{'_id': ObjectId('672797c6d5aca4d54fb23717'),
 'id': 11,
 'title': 'Annibale Colombo Bed',
 'price': 1899.99}

Extraindo os campos necessários

In [15]:
dados_para_mysql = [{"id": doc["id"], "title": doc["title"], "price": doc["price"]} for doc in collection.find()]

In [16]:
dados_para_mysql

[{'id': 11, 'title': 'Annibale Colombo Bed', 'price': 1899.99},
 {'id': 12, 'title': 'Annibale Colombo Sofa', 'price': 2499.99},
 {'id': 13, 'title': 'Bedside Table African Cherry', 'price': 299.99},
 {'id': 14,
  'title': 'Knoll Saarinen Executive Conference Chair',
  'price': 499.99},
 {'id': 15, 'title': 'Wooden Bathroom Sink With Mirror', 'price': 799.99},
 {'id': 16, 'title': 'Apple', 'price': 1.99},
 {'id': 17, 'title': 'Beef Steak', 'price': 12.99},
 {'id': 18, 'title': 'Cat Food', 'price': 8.99},
 {'id': 19, 'title': 'Chicken Meat', 'price': 9.99},
 {'id': 20, 'title': 'Cooking Oil', 'price': 4.99}]

Salvando os dados em um DataFrame

In [17]:
import pandas as pd

C:\Users\gusta\AppData\Local\Temp\ipykernel_5584\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [18]:
df_mysql = pd.DataFrame(dados_para_mysql)

df_mysql

   id                                      title    price
0  11                       Annibale Colombo Bed  1899.99
1  12                      Annibale Colombo Sofa  2499.99
2  13               Bedside Table African Cherry   299.99
3  14  Knoll Saarinen Executive Conference Chair   499.99
4  15           Wooden Bathroom Sink With Mirror   799.99
5  16                                      Apple     1.99
6  17                                 Beef Steak    12.99
7  18                                   Cat Food     8.99
8  19                               Chicken Meat     9.99
9  20                                Cooking Oil     4.99

Salvando em CSV

In [19]:
df_mysql.to_csv("../data/produto_preço.csv")

In [20]:
client.close()